* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #121212;
    background-color: #333333;
    padding: 20px;
    margin-top: 15px;
}

header {
    background-color: #ffb223;
    color: #121212;
    padding: 10px 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    background-color: #ef8d2a;

}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ffb223;
}

section {
    margin-top: 20px;

}

section,
article,
aside {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #121212;
    border: 1px solid #333;
    color: #fbfbfb;
}

footer {
    text-align: center;
    background-color: #333;
    color: #ddd;
    padding: 10px 0;
}


section h1 {
    color: #ffb223;
    padding: 10px 0 20px;
    text-align: center;
}

h3 {
    color: #ef8d2a;
    padding: 20px 0 10px;
}
